environment:
    global:
        PROJECT_NAME: bytecount
        FEATURES: ""
        RUSTFLAGS: ""
    matrix:
        - TARGET: i686-pc-windows-gnu
          CHANNEL: stable
        - TARGET: i686-pc-windows-gnu
          CHANNEL: beta
        - TARGET: i686-pc-windows-gnu
          CHANNEL: nightly
        - TARGET: i686-pc-windows-gnu
          CHANNEL: nightly
          FEATURES: "--features simd-accel"
        - TARGET: i686-pc-windows-gnu
          CHANNEL: nightly
          FEATURES: "--features simd-accel,target_feature"
        - TARGET: i686-pc-windows-msvc
          CHANNEL: stable
        - TARGET: i686-pc-windows-msvc
          CHANNEL: beta
        - TARGET: i686-pc-windows-msvc
          CHANNEL: nightly
        - TARGET: i686-pc-windows-msvc
          CHANNEL: nightly
          FEATURES: "--features simd-accel"
        - TARGET: i686-pc-windows-msvc
          CHANNEL: nightly
          FEATURES: "--features simd-accel,target_feature"
        - TARGET: x86_64-pc-windows-gnu
          CHANNEL: stable
        - TARGET: x86_64-pc-windows-gnu
          CHANNEL: beta
        - TARGET: x86_64-pc-windows-gnu
          CHANNEL: nightly
        - TARGET: x86_64-pc-windows-gnu
          CHANNEL: nightly
          FEATURES: "--features simd-accel"
        - TARGET: x86_64-pc-windows-gnu
          CHANNEL: nightly
          FEATURES: "--features simd-accel,target_feature"
        - TARGET: x86_64-pc-windows-msvc
          CHANNEL: stable
        - TARGET: x86_64-pc-windows-msvc
          CHANNEL: beta
        - TARGET: x86_64-pc-windows-msvc
          CHANNEL: nightly
        - TARGET: x86_64-pc-windows-msvc
          CHANNEL: nightly
          FEATURES: "--features simd-accel"
        - TARGET: x86_64-pc-windows-msvc
          CHANNEL: nightly
          FEATURES: "--features simd-accel,target_feature"

install:
    - curl -sSf -o rustup-init.exe https://win.rustup.rs/
    - rustup-init.exe -y --default-host %TARGET% --default-toolchain %CHANNEL%
    - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
    - if defined MSYS2_BITS set PATH=%PATH%;C:\msys64\mingw%MSYS2_BITS%\bin
    - rustc -V
    - cargo -V

build: false

cache:
    - target
    - C:\Users\appveyor\.cargo\registry

test_script:
    - echo RUSTFLAGS=%RUSTFLAGS%
    - echo FEATURES=%FEATURES%
    - cargo test --target %TARGET% %FEATURES%
    - cargo bench --target %TARGET% %FEATURES%
